.sort {
	padding-top: 240px;
	padding-bottom: 240px;
	&__filter {
		justify-content: center;
	}
	.filter {
		&__items {
			@include font("Poppins", 16px, 500);
			margin-left: 65px;
			color: $color-spaceGray;
			cursor: pointer;
			&:nth-child(1) {
				margin: 0;
			}
			&--active {
				position: relative;
				color: $color-orange;
				transition: 0.3s;
				&::before {
					content: "";
					position: absolute;
					bottom: -12px;
					left: 50%;
					transform: translateX(-50%);
					width: 14px;
					height: 12px;
					background: url("../images/triangle.svg");
					animation: triangle 0.3s forwards ease-in-out;
				}
			}
		}
	}

	&__row {
		padding-top: 105px;
	}
	&__info {
		padding: 50px 15px 0;
	}
	&__picture {
		width: 100%;
		border-radius: 30px;
		box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
	}
	&__title {
		@include font("Poppins", 24px, 500);
		color: $color-black;
	}
	&__price {
		@include font("Poppins", 30px, 500);
		color: $color-orange;
	}
	&__description {
		@include font("Poppins", 16px, 500);
		margin: 15px 0 10px;
		color: $color-spaceGray;
	}
	&__add {
		justify-content: space-between;
	}
	&__item {
		padding-left: 30px;
	}
	&__add {
		cursor: pointer;
		width: 66px;
		height: 51px;
		border-radius: 11px;
		background-color: orange;
		border: 2px;
	}
	&__cross {
		position: relative;
		top: 2px;
		height: 29px;
		padding: 2px;
		left: 0px;
		border-radius: 2px;
		background: white;
	  }
	  &__cross:after {
		position: absolute;
		content: "";
		left: -14px;
		top: 13px;
		width: 29px;
		padding: 2px;
		border-radius: 2px;
		background: white;
	}
	@keyframes triangle {
		0% {
			bottom: -22px;
			opacity: 0;
		}
		50% {
			bottom: -8px;
			opacity: 0.5;
		}
		100% {
			bottom: -12px;
			opacity: 1;
		}
	}
}